* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-image: 
  linear-gradient( rgb(44, 110, 148),rgba(172, 31, 31, 0.808));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout {
  width: 100%;
  max-width: 300px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(223, 213, 213, 0.849);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  background: rgba(137, 43, 226, 0.123);
  color: rgba(255, 255, 255, 0.993);
  box-shadow: 0 0 20px rgba(223, 213, 213, 0.849);
  padding: 20px;
  text-align: center;
  position: relative;
}

.logo {
  width: 50px;
  position: absolute;
  left: 20px;
  top: 20px;
}

header h1 {
  font-size: 24px;
}

main {
  box-shadow: 0 0 15px rgba(134, 120, 120, 0.849);
  padding: 20px;
  flex: 1;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-section input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-section button {
  padding: 10px 15px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-section button:hover {
  background: #14477e4b;
}

#taskList {
  list-style: none;
 
}

#taskList li {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
   border: 3px solid #d4c9c93a;
   border-radius:12px;
}

#taskList li.checked {
  text-decoration: line-through;
  color: rgb(241, 238, 238);
}

#taskList li button {
  background: red;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

footer {
  box-shadow: 0 0 20px rgba(223, 213, 213, 0.849);
  text-align: center;
  padding: 12px;
  font-size: 14px;
  color: #f5ecec;
}

@media (max-width: 600px) {
  .input-section {
    flex-direction: column;
  }

  .input-section button {
    width: 100%;
  }

  .logo {
    position: static;
    margin-bottom: 10px;
  }

  header {
    padding-top: 60px;
  }
}
#taskList li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(247, 237, 241);
}

#taskList li span.checked {
  text-decoration: line-through;
  color: rgba(247, 237, 241, 0.432);
}

.task-buttons {
  display: flex;
  gap: 5px;
}

.task-buttons .done {
  background-color: #28a745 !important;
  color: white !important;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.task-buttons .done:hover {
  background-color: #21883749 !important;
}

.task-buttons .delete {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.task-buttons .delete:hover {
  background-color: rgba(136, 13, 13, 0.281) !important;
}